<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <main>
        <%- include('../partials/taps-sidebar.ejs') %>
        <div id="view">
            <%- include('../partials/nav.ejs') %>
            <div id="content">
                <div id="userindex">
                    <% users.forEach((user) => { %>
                        <form class="usercard" method="GET" action="/users/<%= user.id %>/invite"><%= user.nname %><button>Invite</button></form>
                    <% }) %>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>